.preload{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
    background-color:#fefefe;
    opacity: .7;
    display: none;
}
.preload img{
    position:relative;
    left:50%;
    top:50vh;
    margin:-100px 0 0 -100px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group, .list-group.list-group-root > p .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > p > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > p > .list-group-item {
    padding-left: 45px;
}
.item-p{
    margin: 0;
    position: relative;
}
.item-p > span{
    position: absolute;
    right: 0;
    top: 0;
}

.overlay{
    display: none;
}

.close {
    position: absolute;
    color: red;
    opacity: 0;
    transition: opacity 0.2s;
    margin-left:-20px;
}

.img img{
    position:relative;
}
